body, button, input, select, textarea {
    font: 400 14px/1.5 PingFang SC,Lantinghei SC,Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans;
    color: #333;
}
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
h1 {
  font-size: 44px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
button,
input {
  outline: 0;
}
